@{
  ViewData["Title"] = "Home Page";
}

<div class="text-center">
    <h1 class="display-4">Bridge City Bites</h1>
    <button>@Html.ActionLink("See all Restaurants", "Index", "Restaurants")</button>
</div>

