@{
  ViewData["Title"] = "Home Page";
}

<div class="text-center">
    <h1 class="display-4">Welcome to Best Restaurants</h1>
    <p>@Html.ActionLink("See all Restaurants", "Index", "Restaurants")</p>
</div>

