<hr />

<div id="footer">
<div class="text-center">
<button>@Html.ActionLink("Add cuisine", "Create", "Cuisines")</button>
<button>@Html.ActionLink("Add restaurant", "Create", "Restaurants")
</button>
</div>
</div>