<hr />

<div id="footer">
<div class="text-center">
<button>@Html.ActionLink("Add new cuisine", "Create", "Cuisines")</button>
<button>@Html.ActionLink("Add Restaurants", "Create", "Restaurants")
</button>
</div>
</div>