<!-- <a href="/">
  <img id="logo" src="~/images/logo.png" alt="board genie logo">
</a> -->

<h1>Best Restaurants Header</h1>
<div id="navbar">
  <button class="navButton">@Html.ActionLink("Restaurants", "Index", "Restaurants")</button>
  <button class="navButton">@Html.ActionLink("Cuisines", "Index", "Cuisines")</button>
  ...
  <button>@Html.ActionLink("Home", "Index", "Home")</button>
</div>
<hr />