<h1 class="text-center">Bridge City Bites</h1>
<div id="navbar">
  <button class="navButton">@Html.ActionLink("Restaurants", "Index", "Restaurants")</button>
  <button class="navButton">@Html.ActionLink("Cuisines", "Index", "Cuisines")</button>
  <button>@Html.ActionLink("Home", "Index", "Home")</button>
</div>
<hr />