@{
  Layout = "_Layout";
}
@model BestRestaurants.Models.Restaurant

<h2>Add a Day</h2>
<h4>Choose days to add to @Html.DisplayFor(model => model.Name)</h4>

@using (Html.BeginForm())
{
  @Html.HiddenFor(model => model.RestaurantId)

  <label for="name">Which day open?</label>
  <select id="name" name="name">
  <option value="Sunday">Sunday</option>
  <option value="Monday">Monday</option>
  <option value="Tuesday">Tuesday</option>
  <option value="Wednesday">Wednesday</option>
  <option value="Thursday">Thursday</option>
  <option value="Friday">Friday</option>
  <option value="Saturday">Saturday</option>
  </select>

  @Html.Label("Hours of Operation")
  @Html.TextBox("time")
  <input type="submit" value="Save" />  
}