@{
  Layout = "_Layout";
}

@using BestRestaurants.Models;
@model List<BestRestaurants.Models.Restaurant>;
<h1>Restaurant List</h1>

<!-- <form asp-controller="Restaurants" asp-action="Index">
  <p>
    <input type="text" name="SearchString" placeholder="search" />
    <input type="submit" value="Filter" />
  </p>
</form> -->

@if (@Model.Count == 0)
{
  <h3>No restaurants have been added yet..</h3>
}
else
{
@foreach (Restaurant restaurant in Model)
{
  <h4>@Html.ActionLink($"{restaurant.Name}", "Details", new { id = restaurant.RestaurantId }) | @restaurant.Cuisine.Name</h4>
}
}
<button>@Html.ActionLink("Add new restaurant", "Create")</button>